@page "/myFlashcards"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using shared.Dtos
@rendermode InteractiveServer

<h3>My Flashcards Collections</h3>
<div class="new-collection-container">
    <button class="btn btn-primary" @onclick="CreateNewCollection">New Collection</button>
</div>

@if (flashcardsCollections != null && flashcardsCollections.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Collection Name</th>
                <th>Owner ID</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collection in flashcardsCollections)
            {
                <tr>
                    <td>@collection.Name</td>
                    <td>@collection.OwnerId</td>
                    <td>@collection.Description</td>
                    <td>
                        <a href="#">Edit</a> | <button class="btn btn-danger" @onclick= "() => DeleteCollectionAsync(collection.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No collections found.</p>
}

@code {
    private List<FlashcardsCollectionDto> flashcardsCollections;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiUrl = "http://localhost:5215/api/flashcardsCollection"; 

            flashcardsCollections = await Http.GetFromJsonAsync<List<FlashcardsCollectionDto>>(apiUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }

    private void CreateNewCollection()
    {
        NavigationManager.NavigateTo("/newCollection");
        Console.WriteLine("Clikc");
    }

    private async Task DeleteCollectionAsync(int collectionId)
    {
        try
        {
            var apiUrl = $"http://localhost:5215/api/flashcardsCollection/{collectionId}"; 

            var response = await Http.DeleteAsync(apiUrl);

            if (response.IsSuccessStatusCode)
            {
                flashcardsCollections.RemoveAll(c => c.Id == collectionId);
            }
            else
            {
                Console.WriteLine($"Failed to delete collection. Status: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
